@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'), local('NotoSerif'),
        url('../font/NotoSerif.woff2') format('woff2'),
        url('../font/NotoSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
        url('../font/NotoSerif-Bold.woff2') format('woff2'),
        url('../font/NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('../font/NotoSerif-Italic.woff2') format('woff2'),
        url('../font/NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
        url('../font/NotoSerif-BoldItalic.woff2') format('woff2'),
        url('../font/NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

